body {
    background-color: #f8f9fa; /* Warna latar belakang keseluruhan halaman */
}
.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card {
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}
